<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jugar <%= @lesson.name %></title>
  <link rel="stylesheet" href="play.css">
  <style>
    body {
      font-family: 'Fira Code', monospace;
      display: flex;
      background-color: #212529;
    }
    .container {
      width: 65%;
      margin: auto;
    }       
    .content-container {
      text-align: left; 
      background-color: #394041;
      border-radius: 10px;
      padding: 5px;
    }
    .button-container {
      display: flex;
      justify-content: space-between; /* Ajuste para colocar los elementos uno al lado del otro */
      align-items: center; /* Alinea los elementos verticalmente */
    }
    .title-container {
      text-align: center;
      background-color: #394041;
      border-radius: 10px;
    }
    .btn {
      width: 120px;
    }
    .content-text {
      color: #ced4da;
    }
    .h3 {
      color: white;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <div class="title-container text-center">
      <h1 class="h3 mb-3 font-weight-normal">Jugar <%= @lesson.name %></h1>
    </div>
    <% if params[:error] == 'wrong_answer' %>
      <p style="color: red;">Respuesta incorrecta. Inténtalo de nuevo.</p>
    <% end %>
    <div class="content-container">
      <p class="content-text"><%= @question.description %></p>
    </div>
    <form action="/lesson/<%= @lesson.id %>/submit_answer" method="post">
      <% @question.options.each do |option| %>
        <div class="form-check mb-3 mt-3">
          <input class="form-check-input text-white" type="radio" name="answer" value="<%= option.id %>" checked> 
          <label class="form-check-label text-white" for="exampleRadios1">
            <%= option.description %>
          </label>
        </div>
      <% end %>
      
      <div class="button-container">
        <input class="btn btn-primary" type="submit" value="Enviar">
        <button class="btn btn-secondary" type="button" onclick="window.location.href='/';">Go back</button>
      </div>
    </form>
  </div>
</body>
</html>
