<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Details</title>
    <link rel="stylesheet" href="progress.css">
    <style>
        body {
            font-family: 'Fira Code', monospace;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70vh;
            background-color: #212529;
            margin: 0;
        }

        h1 {
            color: white;
        }
        
        .content-wrapper {
            width: 100%;
            max-width: 700px;
            padding: 30px;
            background: #343a40; 
            border-radius: 10px; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
            color: white; 
        }
        
        .content-wrapper h1 {
            color: white;
            margin-bottom: 30px !important;
            font-size: xx-large;
        }
        
        .list-group-item {
            background-color: #394041 !important; 
            color: white; 
        }
        
        .list-group-item strong {
            color: #ced4da;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <% if error_message %>
            <div class="alert alert-danger" role="alert">
                <%= error_message %>
            </div>
        <% else %>
            <h1 class="mb-4">Progress Details</h1>
            <ul class="list-group">
                <li class="list-group-item"><strong>Number of Correct Answers:</strong> <%= progress.numberOfCorrectAnswers.to_i %></li>
                <li class="list-group-item"><strong>Number of Achievements:</strong> <%= progress.numberOfAchivements.to_i %></li>
                <li class="list-group-item"><strong>Progress Level:</strong> <%= progress.progressLevel %></li>
                <li class="list-group-item"><strong>Completed lessons:</strong> <%= progress.last_completed_lesson %></li>
                <li class="list-group-item"><strong>Success Rate:</strong> <%= progress.calculate_success_rate.round(2) %>%</li>
            </ul>
        <% end %>
    </div>
</body>
</html>
