<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Ranking</title>
  <link rel="stylesheet" href="/ranking.css">
</head>
<body>
  <div class="content mt-5">
    <h1 class="mb-4">User Ranking</h1>
    <table>
      <thead>
        <tr>
          <th>Position</th>
          <th>Username</th>
          <th>Points</th>
          <th>Streak</th>
        </tr>
      </thead>
      <tbody>
        <% @ranking_usuarios.first(5).each_with_index do |usuario, index| %>
          <tr <%= "class='highlight'" if usuario.username == @current_user.username %>>
            <td><%= index + 1 %></td>
            <td><%= usuario.username %></td>
            <td><%= usuario.progress.points %></td>
            <td><%= usuario.progress.streak %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <form action="/" method="get">
      <button type="submit" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Go Back </button>
    </form>
  </div>
</body>
</html>
